---
const { title, code } = Astro.props;
---

<div class="codeblock">
  {title && <div class="codeblock__title">{title}</div>}
  <pre><code>{code}</code></pre>
</div>

<style>
  .codeblock__title{opacity:.85;margin:0 0 8px 0;font-size:14px}
  pre{margin:0;padding:12px;border-radius:12px;overflow:auto}
</style>
